annotated-types==0.8.0
anyascii==0.3.3
asgiref==3.12.1
beautifulsoup4==4.11.2
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
cryptography==50.0.1
defusedxml==0.7.1
dj-database-url==3.1.2
Django==4.2.11
django-appconf==1.2.0
django-cryptography==1.1
django-fernet-fields==0.6
django-filter==23.5
django-htmx==1.17.3
django-modelcluster==6.5
django-ninja==1.7.0
django-permissionedforms==0.1
django-stubs-ext==6.1.1
django-taggit==4.0.0
django-tasks==0.12.0
django-treebeard==4.8.0
djangorestframework==3.17.2
draftjs-exporter==2.1.7
et_xmlfile==2.0.0
filetype==1.2.0
html5lib==1.1
idna==3.19
l18n==2021.3
laces==0.1.2
modelsearch==1.3.2
openpyxl==3.1.5
pillow==10.4.0
pillow_heif==0.22.0
psycopg2-binary==2.9.13
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
pytz==2026.3.post1
requests==2.34.2
six==1.17.0
soupsieve==2.9.2
sqlparse==0.6.0
swapper==1.5.0
telepath==0.3.1
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.8.0
wagtail>=6.0.0
webencodings==0.6.1
whitenoise==6.12.0
Willow==1.6.3
